<div class="header-wrapper">
  <div class="header">

    <div class="left-aligned">
      <div routerLink="/" class="logo-wrapper">
        <!-- <img class="logo" src="../assets/zknft-logo.png"> -->
        <div class="title-logo">ZKNFT</div>
      </div>
    </div>

    <div class="right-aligned">
      <div class="wallet-holder">
        <button (click)="connectWallet()" class="connect-button">
          <span *ngIf="!wallet.connected">
            <span class="grayscale">🏦</span> Connect Wallet
          </span>
          <span class="wallet-address" *ngIf="wallet.connected">
            <span><angular-blockies [options]="blockiesOptions"></angular-blockies> &nbsp;</span>
            {{wallet.userAddress.substring(0, 14)}}
          </span>
        </button>
      </div>
      <div class="eth-balance">
        Network: {{networkName}} | L2 Balance: {{l2EthBalance.toFormat(5)}} ETH &nbsp;
      </div>
    </div>
  </div>

  <div class="nav-menu">
    <div class="menu-link" routerLink="/mint"><span class="grayscale">🖌️</span> Mint</div>
    <div class="menu-link" routerLink="/explore"><span class="grayscale">🔍</span> Explore</div>
    <div class="menu-link" routerLink="/collection/{{wallet.userAddress}}"><span class="grayscale">🖼️</span> My NFTs</div>
  </div>

  <div class="modal" *ngIf="noFunds">
    <div class="card">
      <div class="right-aligned"><button (click)="dismissNoFunds()">x</button></div>
      <div class="card-header">Fund Your zkSync Account</div>
      <div class="card-text">You don't have any funds yet on zkSync! To get started, deposit some ETH into your Layer 2 account. You can use the zkSync Wallet to bridge your funds. </div>
      <div class="centered"><a href="https://wallet.zksync.io/" target="_blank"><button class="zkwallet-button">Head to zkWallet</button></a></div>
    </div>
  </div>
</div>