<div class="home">

  <div class="two-columns hero">
    <div class="tagline">
      <div>NFTs for everyone.</div>
      <div class="smaller-tagline">Mint, explore, and swap NFTs for a fraction of Ethereum mainnet costs. zkSync's zkRollup makes transactions fast, cheap, and secure.</div>
      <div class="get-started-holder"><button class="get-started" routerLink="/mint">Get Started</button></div>
    </div>
    <div>
      <img src="../assets/main.svg" class="main-img">
    </div>
  </div>

  <div class="tri-cols">
    <div class="mint card">
      <div>
        <img src="../assets/mint.svg" class="icon">
      </div>
      <div class="card-title">Mint</div>
      <div class="card-text">Mint NFTs on zkSync for as low as 0.00006 ETH! Your NFT metadata is automatically uploaded to IPFS behind the scenes.</div>
    </div>
    <div class="view card">
      <div>
        <img src="../assets/explore.svg" class="icon">
      </div>
      <div class="card-title">Explore</div>
      <div class="card-text">Explore existing NFTs and your own collection! Compatible with any NFT on zkSync that uses IPFS content hashes.</div>
    </div>
    <div class="swap card">
      <div>
        <img src="../assets/swap.svg" class="icon">
      </div>
      <div class="card-title">Swap</div>
      <div class="card-text">Make offers and swap between NFTs, ETH, or any other ERC20 token! No swap fees, and incredibly low transaction fees.</div>
    </div>
  </div>
</div>